sudo: false

# Operating System
os : linux
group: stable
# dist: precise

# Script Language
language: php

# Php Tests version
php:
  - 7.0
  - 7.1
  - 7.2

before_script:
    - composer install -o -vv

script:
    - ./vendor/bin/phpcs
    - ./vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-text

matrix:
  fast_finish: true

# After Succeeded Execute Coverall
after_success:
  - travis_retry php vendor/bin/coveralls -v --exclude-no-stmt
